body {
    background-image: url("../assets/landing_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.parent {
    min-height: 100vh;
 }

.landing-name {
     text-align: center;
     color: azure;
 }

 .landing-description {
    text-align: center;
    color: rgb(208, 105, 97);
    font-family: "Lucida Console", "Courier New", monospace;
}

.weather {
    text-align: center;
    color: blueviolet;
    margin-top: 10px;
}